.buy {
  @include section-grid;

  grid-auto-rows: min-content;
  height: 100vh;
  background: $bg-gradient;

  &__top-bar {
    grid-column: 1 / -1;
    margin-bottom: 12px;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__checkout-steps {
    grid-column: 1 / -1;

    @include on-tablet {
      margin-bottom: 40px;
    }
  }

  &__order-summary {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }
  }

  &__image {
    display: none;

    @include on-tablet {
      display: block;
      grid-column: 2 / -2;
      width: 100%;
    }
  }

  &__wrapper {
    position: relative;
    grid-column: 1 / -1;
  }

  &__place-order,
  &__pay,
  &__complete {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    transition: transform $animation-duration;
  }

  &__pay {
    transform: translateX(100%);
  }

  &__complete {
    transform: translateX(100%);
    margin-top: 60px;
  }

  &--pay {
    .buy__place-order {
      transform: translateX(-100%);
    }

    .buy__pay {
      transform: translateX(0);
    }

    .buy__order-summary {
      @include on-tablet {
        grid-column: 2 / 4;
        padding-left: 0;
      }
    }
  }

  &--complete {
    .buy__place-order {
      transform: translateX(-100%);
    }

    .buy__pay {
      transform: translateX(-100%);
    }

    .buy__complete {
      transform: translateX(0);
    }

    .buy__order-summary,
    .buy__image {
      display: none;
    }
  }
}
