.contact-us {
  padding-block: 50px;

  @include padding-inline;

  background-color: $bg-black;

  @include on-tablet {
    grid-template-rows: repeat(3, min-content);
    padding-block: 70px 130px;

    @include section-grid;
  }

  @include on-desktop {
    padding-block: 100px;
  }

  &__title-wrapper {
    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 6;
      grid-row: 1;
    }
  }

  &__title-intro {
    @include text-mobile;

    margin-bottom: 10px;
    font-size: 14px;
    line-height: 100%;
    color: $color-blue;
  }

  &__title {
    @include h2-mobile;

    margin-bottom: 30px;

    @include on-tablet {
      margin-bottom: 0;
    }

    @include on-desktop {
      @include h2-desktop;
    }

    &--highlighted {
      font-weight: 400;
      color: $color-blue;
    }
  }

  &__form {
    margin-bottom: 30px;
    padding-inline: 0;

    @include on-tablet {
      grid-column: 4 / -1;
      grid-row: 1 / -1;
      margin-bottom: 0;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__text {
    @include text-mobile;

    font-size: 12px;

    @include on-tablet {
      grid-column: 1 / 4;
      grid-row: 2;
      font-size: 16px;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__contacts {
    display: none;

    @include on-tablet {
      display: block;
      grid-column: 1 / 4;
      grid-row: 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__link-up {
    position: absolute;
    right: 0;
    bottom: 0;

    display: none;

    width: 48px;
    height: 48px;

    background-image: url(../images/icons/icon-up.svg);
    background-size: contain;

    @include hover(background-image, url(../images/icons/icon-up-hover.svg));

    @include on-tablet {
      right: 34px;
      bottom: 130px;
      display: block;
    }

    @include on-desktop {
      right: 110px;
      bottom: 100px;
    }
  }
}
