.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  gap: 16px;

  @include padding-inline;

  padding-block: 50px;

  background-color: #000;

  @include on-tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 64px;
    padding-block: 0;
  }

  &__logo-link {
    display: block;
    grid-column: 1/2;
    width: fit-content;
  }

  &__logo {
    width: 69px;
  }

  &__nav {
    grid-column: 1/2;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include on-tablet {
      flex-direction: row;
      gap: 40px;
      justify-content: space-between;
    }
  }

  &__link {
    @include text-mobile;

    font-size: 13px;
    color: $color-white;
    text-decoration: none;
  }

  &__social {
    display: flex;
    grid-column: 2/-1;
    flex-direction: column;
    justify-content: space-between;
  }
}
