.help {
  height: 100vh;
  padding-inline: 20px;
  background-color: $bg-aside;

  &__top-bar {
    justify-content: end;
    margin-bottom: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    @include h2-mobile;

    text-align: center;

    &--highlighted {
      font-weight: 400;
      color: $color-blue;
    }
  }

  &__desc {
    @include text-mobile;
  }

  &__link {
    color: $color-blue;
    text-decoration: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__contacts-link {
    @include text-mobile;

    line-height: 100%;
    text-decoration: none;
  }
}
