.icon {
  display: block;

  width: 20px;
  height: 20px;

  background-image: url(../images/icons/icon-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }

  &--back {
    background-image: url(../images/icons/icon-back.svg);
  }
}
