* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.page {
  &__body {
    min-width: 320px;
    font-family: Inter, sans-serif;

    &:has(
      .page__menu:target,
      .page__language:target,
      .page__help:target,
      .page__faq:target,
      .page__buy:target
    ) {
      overflow: hidden;
    }
  }

  &__menu,
  &__language,
  &__help,
  &__faq,
  &__buy {
    pointer-events: none;

    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);

    overflow-y: auto;

    opacity: 0;

    transition: all 0.3s;

    &:target {
      pointer-events: all;
      transform: translateX(0);
      opacity: 1;
    }
  }
}
