* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  &__body {
    scroll-behavior: smooth;
    min-width: 320px;
    font-family: Inter, sans-serif;
  }

  &__menu,
  &__language,
  &__help,
  &__faq,
  &__buy {
    pointer-events: none;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);

    opacity: 0;

    transition: all 0.3s;

    &:target {
      pointer-events: all;
      transform: translateX(0);
      opacity: 1;
    }
  }
}
