.product {
  @include on-tablet {
    @include section-grid;
  }

  &__img-wrapper {
    grid-column: 3/-1;
    grid-row: 1;
  }

  &__img {
    pointer-events: none;
    display: block;
    width: 100%;
    object-fit: cover;
  }

  &__content {
    @include padding-inline;

    @include on-tablet {
      grid-column: 1/4;
      grid-row: 1;
    }
  }

  &__title {
    @include h1-mobile;

    margin-bottom: 17px;

    &--secondary {
      font-weight: 400;
      color: $color-blue;
    }
  }

  &__desc {
    @include text-mobile;

    margin-bottom: 8px;
    font-weight: 500;

    @include on-tablet {
      margin-bottom: 10px;
    }
  }

  &__price-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @include on-tablet {
      justify-content: start;
    }
  }

  &__price {
    margin-bottom: 24px;

    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    color: $color-white;

    @include on-tablet {
      margin-bottom: 34px;
    }
  }

  &__buy-wrapper {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    width: calc(100% - ($mobile-padding-inline * 2));

    &--hidden-on-desktop {
      @include on-desktop {
        display: none;
      }
    }

    @include on-tablet {
      bottom: 30px;
      width: 460px;
    }
  }
}
