.top-bar {
  display: flex;
  justify-content: space-between;

  height: 44px;
  padding-top: 20px;
  padding-inline: 20px;

  &__logo-link{
    display: block;
  }

  &__logo {
    height: 12px;
  }
}
