@mixin on-tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 34px;
  }
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} $animation-duration;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  color: $color-white;
  text-decoration: none;

  background-color: $color-blue;
  outline: none;
}
