@mixin h1-mobile {
  font-family: inherit;
  font-size: 26px;
  font-weight: 900;
  line-height: 130%;
  color: $color-white;
  text-transform: uppercase;
}

@mixin h2-mobile {
  font-family: inherit;
  font-size: 21px;
  font-weight: 900;
  line-height: 130%;
  color: $color-white;
  text-transform: uppercase;
}

@mixin text-mobile {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: $color-text;
}

@mixin text-aside-mobile {
  font-family: inherit;
  font-size: 21px;
  font-weight: 500;
  line-height: 130%;
  color: $color-white;
  text-decoration: none;
}

@mixin text-drop-down {
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  color: $color-white;
}
