@mixin h1-mobile {
  font-family: inherit;
  font-size: 26px;
  font-weight: 900;
  color: $color-white;
  text-transform: uppercase;
  line-height: 130%;
}

@mixin h2-mobile {
  font-family: inherit;
  font-size: 21px;
  font-weight: 900;
  color: $color-white;
  text-transform: uppercase;
  line-height: 130%;
}

@mixin text-mobile {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: $color-text;
  line-height: 150%;
}

@mixin text-aside-mobile {
  font-family: inherit;
  font-size: 21px;
  font-weight: 500;
  color: $color-white;
  text-decoration: none;
  line-height: 130%;
}
